---
---
// Breakpoints
$large-breakpoint: 32em;
$medium-breakpoint: 24em;

// Headers
$header-heading-color: #e50914;
$header-heading-color-secondary: #8c8c8c;
$header-bg-color: #333;
$header-bg-color-secondary: #000;

// Text
$section-headings-color: #1a1a1a;
$body-text-color: #333;
$body-link-color: #e50914;
$blockquote-text-color: #999;

// Code
$code-bg-color: #e6e6e6;
$code-text-color: #333;

// Borders
$border-color: #ff0a16;
$table-border-color: #737373;
$hr-border-color: #737373;

@import "{{ site.theme }}";

.page-header {
  padding-top: 1em;
  padding-bottom: 1em;
  background-image:
    radial-gradient(
      ellipse at bottom,
      $header-bg-color,
      $header-bg-color-secondary
    );
}

.page-header .btn {
  display: none;
}

.project-tagline {
  color: $header-heading-color-secondary;
}

.main-content .toc ul {
  border-bottom: thin solid $border-color;
}
